<footer class="footer text-center mx-auto mt-auto border-dark border  " style="background-color: #fff">
    <div class="container d-inline-block py-1" style="background-color: #bbb">
        <span class="text-muted">&copy;Aamod</span>
    </div>
</footer>