<footer class="footer text-center ls-2" style="background-color: #fff">
  <div
    class="container-fluid d-inline-block py-1 py-4"
    style="background-color: #bbb"
  >
    <span class="text-muted">&copy;Aamod<br />Campified 2023</span>
  </div>
</footer>
