body {
  background-image: url("/img/homeBG.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  letter-spacing: 1px;
}
.nav-link:hover {
  border-bottom: 0.1875rem solid rgba(51, 51, 51, 0.9);
}
.content p {
  font-family: "OpenSans";
  margin-bottom: 2rem;
  color: #444;
}
.content h2 {
  font-family: "Oswald-Medium";
  margin-bottom: 1rem;
  color: #444;
  text-transform: uppercase;
}
.content a {
  font-family: "OpenSans";
}
@media screen and (max-width: 436px) {
  .realign {
    margin-right: auto !important;
    margin-left: auto !important;
  }
}
footer {
  color: rgba(255, 255, 255, 0.7);
}
