a {
    text-decoration: none !important;
}

.navbar * {
    color: white !important;
}

.nav-link {
    padding: 0;
    padding-bottom: 0.1rem;
    margin-right: 0.2rem;
    transition: all 0.1s;
    margin-top: 0.4rem;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
}

.nav-link:hover {
    opacity: 0.9;
    border-bottom: 3px solid white;
}

.active {
    border-bottom: 3px solid white;
}

.content {
    color: white;
}

#user {
    color: blanchedalmond !important;
    cursor: pointer;
}

.dropdown-menu {
    min-width: 0;
    position: absolute !important;
}

.dropdown-item {
    text-align: center;
}

.dropdown-item:hover {
    background-color: var(--bs-dark);
}

@media screen and (min-width: 992px) {
    .offcanvas-lg {
        display: none;
    }
}

#submit {
    color: white;
    background-color: #198754
}

#submit:active {
    background-color: #198754 !important;
}

#submit:hover {
    background-color: rgba(25, 135, 84, 0.9) !important;
}