body {
  position: relative;
  padding-top: 8.4rem;
}
main {
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
}
.container-fluid {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.navbar {
  background-color: #23395b;
}

#navbar-brand-name {
  color: #fff;
}
.nav-link {
  padding: 0;
  padding-bottom: 0.5rem;
  margin-right: 0.2rem;
  margin-top: 0.4rem;
  color: white;
}
.navbar-nav {
  transform: translateY(0.2rem);
}
.offcanvas-body .nav-link {
  font-size: 1.5rem;
}
.btn-close {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
}
.btn-close-white:focus,
.btn-close-white:active,
.navbar-toggler {
  box-shadow: none !important;
  border: none !important;
}
.navbar-toggler:hover,
.navbar-toggler:active {
  background-color: #ccc;
}
.navbar-toggler {
  background-color: #fff;
  transition: background-color 0.2s;
  padding: 0.2rem;
}
.nav-link:hover {
  color: white;
  border-bottom: 0.1875rem solid white;
}
#navbar-brand-icon {
  width: 3.4rem;
}
.navbar svg {
  fill: #222;
}
.nav-link.active {
  opacity: 0.75;
  color: white !important;
  border-bottom: 0.1875rem solid white;
}

.offcanvas-lg {
  background-color: #23395b;
}
@media screen and (min-width: 992px) {
  .offcanvas-lg {
    display: none;
  }
  .navbar-nav:first-of-type {
    margin-left: auto;
  }
  .navbar-brand {
    margin-left: 1rem;
  }
}

#submit {
  color: white;
  background-color: #198754;
}

#submit:active {
  background-color: #198754 !important;
}

#submit:hover {
  background-color: rgba(25, 135, 84, 0.9) !important;
}
.card,
.addcamp {
  font-family: "OpenSans";
}
.card {
  border-radius: 0;
  border-bottom-left-radius: 0.375rem;
}
