<% layout('layouts/boilerplate') %>
<div class="card shadow mx-auto col-lg-4 col-md-6">
    <img crossorigin="anonymous"
         src="/stylesheets/homeBG.jpg"
         alt="" class="card-img-top">
    <div class="card-body"><h1 class="card-title">Register</h1>
        <form action="/register" method="POST" class="validated-form" novalidate>
            <div class="mb-3">
                <label class="form-label" for="username">Username</label>
                <input class="form-control" type="text" id="username" name="username" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="email">Email</label>
                <input class="form-control" type="email" id="email" name="email" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <button class="mui-btn mui-btn--raised" id="submit">Register</button>
        </form>
    </div>
</div>



