<% layout('layouts/boilerplate') %>
<h1>Register</h1>
<form action="/submitPassword" method="POST" class="validated-form" novalidate>
    <div class="mb-3">
        <h5>Hi!, <%= user.username %>, Your Email has been confirmed!</h5>
        <p>Enter a password:</p>
    </div>
    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <button class="mui-btn mui-btn--raised" id="submit">Submit</button>
</form>